@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
    background-color: #1a1a1f;
    font-size: 75%;
}

body {
    font-family: "system";
}

h1 {
    color: #cc469f;
    font-size: 1.5em;
}
